# Exam Insurance - 1 

Time: 15 Minutes

Please solve the following exercises.

In [18]:
# Initialize Otter
import otter
grader = otter.Notebook("insurance-1.ipynb")

In [17]:
import pandas as pd

### Question 1

Implement the function `count_num_negative`, which takes a list of numbers and returns how many element in the list are negative.

In [40]:
class Question1:
    
    @staticmethod
    def count_num_negative(numbers):
        return ... # your answer
    
# Example call
Question1.count_num_negative([1, -3, 2])

Ellipsis

Check your answer:

In [41]:
grader.check("Question 1")

Question 1 results:
    Question 1 - 1 result:
        ‚ùå Test case failed
        Error at line 11 in test Question 1:
              assert_equal(q1.count_num_negative([1, 7, 3, -1, -1, -7]), 3)
        AssertionError: 3 does not equal Ellipsis

### Exercise 2

Execute the following cell to read the pew dataset. Assign the highest value in the column `frequency` to the variable `max_frequency`.

In [43]:
import pandas as pd
pew = pd.read_csv("pew-tidy.csv")
pew.head(10)

   religion   income  frequency
0  Agnostic    <$10k         27
1  Agnostic  $30-40k         81
2  Agnostic  $40-50k         76
3  Agnostic  $50-75k        137
4  Agnostic  $10-20k         34
5  Agnostic  $20-30k         60
6   Atheist  $40-50k         35
7   Atheist  $20-30k         37
8   Atheist  $10-20k         27
9   Atheist  $30-40k         52

In [47]:
class Question2:
    
    max_frequency = ... # your solution
    
    print(max_frequency)

Ellipsis

In [48]:
grader.check("Question 2")

Question 2 results:
    Question 2 - 1 result:
        ‚ùå Test case failed
        Error at line 11 in test Question 2:
              assert_equal(q2.max_frequency, 1486)
        AssertionError: 1486 does not equal Ellipsis

### Question 3

Extract all the rows from above dataset for which the religion is `Catholic`

In [54]:
class Question3:
    
    pew_catholic = pew[pew["religion"] == "Catholic"]
    
    display(pew_catholic)

    religion   income  frequency
18  Catholic  $40-50k        638
19  Catholic  $30-40k        670
20  Catholic  $20-30k        732
21  Catholic  $50-75k       1116
22  Catholic  $10-20k        617
23  Catholic    <$10k        418

In [55]:
grader.check("Question 3")

Question 3 results: All test cases passed!